body {
    background-color: black;
}

.trpno {
    width: 20%;
    margin: auto;
    display:block;
}
.icon {
    width: 20%;
    position:absolute;
}

.bg {
    position:fixed;
    width:100%;
    left:0;
    bottom:0;
    z-index:11;
}
div.inst {
    position:relative;
    top: 50px;
    height:auto;
    min-height:100%;
    width:100%;
    margin: auto;
    text-align:center;
}

div.tr {
    position:relative;
    top: 80px;
    width:2000px;
    margin: auto;
    text-align:center;
}

.tuto {
    position:fixed;
    width:100%;
    bottom:10%;
    z-index:20;
    text-align:center;
    color:white;
    font-size:5%;
}

audio {
    display:none;
}


.blackKey {
    position: absolute;
    top:0;
    width: 4%;
    z-index: 1;
}

.whiteKey {
    position: absolute;
    top:30px;
    width: 4.5%;
    z-index: 0;
}

@keyframes moveKey {
    20% {transform: translateY(50px);}
}

.moveKey {
    animation-duration:3s;
    animation-name: moveKey;
}

@keyframes moveHead {
    10% {transform: translateX(-50px);}
}

.moveHead {
    animation-duration:2s;
    animation-name: moveHead;
}

@keyframes moveValve {
    50% {transform: translateY(5px);}
}

.moveValve {
    animation-duration:2s;
    animation-name: moveValve;
}